.cover {
  padding-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .cover {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 550px) {
  .cover {
    padding-bottom: 64px;
  }
}
